{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
    <title>{{ meetup_title }}</title>
</head>
<body>
    <main>
        <article>
            <img src="" alt="">
            <section id="location"></section>
            <h2>Meetup location</h2>
            <address>
                This meetup takes place in <span>LOCATION</span> (ADDRESS).
            </address>
            <h3>{{ meetup_description }}</h3>
        </article>
    </main>
</body>
</html>